@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
}

body {
  --primaryBackground: #f1f6fb;
  --secondaryBackground: #000;
  --primaryColor: #2c2958;
  --secondaryColor: #8d939f;
  --thirdColor: #b88780;
  --white: #fff;
  --primaryButton: linear-gradient(90deg, #ffa19e 0%, #f6c1a2 100%);
  --primaryButtonOnHover: linear-gradient(
    90deg,
    rgba(255, 161, 158, 0.75) 0%,
    rgba(246, 193, 162, 0.75) 100%
  );
  --primaryShadow: 0px 5px 10px rgba(203, 208, 217, 0.6), 0px 10px 20px #dbe0ea;
  --primaryShadowColor: 0px 10px 10px rgba(251, 180, 214, 0.3),
    0px 4px 5px rgba(250, 186, 219, 0.5);
  background: var(--primaryBackground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p,
span {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-weight: 600;
  font-size: 0.9rem;
}
