@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
}
html {
  scroll-snap-type: y mandatory;
}
body {
  --primaryBackground: #f1f6fb;
  --secondaryBackground: #000;
  --primaryColor: #2c2958;
  --secondaryColor: #8d939f;
  --thirdColor: #b3d6dc;
  --white: #fff;
  --primaryButton: linear-gradient(90deg, #3f9da7 2.32%, #67dda0 100%);
  --primaryButtonOnHover: linear-gradient(
    89.18deg,
    rgba(63, 157, 167, 0.8) 2.32%,
    #67dda0 100%
  );
  --primaryShadowColor: 0px 10px 10px #b3d6dc;
  background: var(--primaryBackground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p,
span {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-weight: 600;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  max-width: 500px;
  margin: 0 auto;
}

.MuiIconButton-root {
  border-radius: 15px !important;

  color: var(--primaryColor) !important;
}

.MuiButton-label {
  color: var(--primaryColor);
  text-transform: capitalize;
}
