@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
}

body {
  --primaryBackground: #f1f6fb;
  --secondaryBackground: #000;
  --primaryColor: #2c2958;
  background: var(--primaryBackground);
  color: var(--primaryColor);
}

h1,
h2,
h3,
p,
span {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-weight: 500;
  font-size: 0.9rem;
}
